*{
    box-sizing: border-box;
}
body {
    background-image: url(bg3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header1{
    display: grid;
    position: relative;
   top: 60px;
  text-align: center;
   
    font-family: inherit;
    font-weight: 100px;
    font-size: 60px;
    color: rgba(240, 255, 255, 0.884);
    border: 0.5px black;
    
}
p{
    font-size: 30px;
}
.upperside  {

    z-index:3;
    position: absolute ;
    top : 5px;
    right: 20px;
    margin-top: 10px;
  
    border-radius: 2.2rem;
    font-size: 50px;

   
}
.upperside > button {
    cursor: pointer;
    width: 100%;
    padding: 16px 16px;
    border-radius: 1.25rem;
    background:#6b89dd49;
    font-weight: 600;
    color: #d8d8d87e;
   
    font-family: inherit;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.375s;

}
.upperside > button:hover {

    color:#2d6fd3 ;}
    a:hover{
        color:#2d6fd3
    }

